<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:fragment="footer">
<head>
    <meta charset="UTF-8">
    <title>thyemleaf in action</title>
</head>
<body>
    <hr class="featurette-divider">
    <footer class="container">
        <a id="goToTop" href="#">
            <i class="fa fa-chevron-up fa-3x" aria-hidden="true"></i>
        </a>
        <div class="container">
            <p style="text-align: center">&copy; 2019 Company, Inc. &middot; <a href="http://140.143.96.212" target="_blank">xjf666.xyz</a></p>
        </div>
    </footer>

    <!--JavaScript-->
    <!--<script src="../../assets/js/vendor/jquery-slim.min.js" th:src="@{/assets/js/vendor/jquery-slim.min.js}" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>-->
    <script src="../../assets/js/vendor/jquery-slim.min.js" th:src="@{/assets/js/vendor/jquery-slim.min.js}"></script>
    <script src="../../assets/js/vendor/popper.min.js" th:src="@{/assets/js/vendor/popper.min.js}"></script>
    <script src="../../dist/js/bootstrap.min.js" th:src="@{/dist/js/bootstrap.min.js}"></script>
    <!-- Just to make our placeholder images work. Don't actually copy the next line! -->
    <script src="../../assets/js/vendor/holder.min.js" th:src="@{/assets/js/vendor/holder.min.js}"></script>


    <script src="../../js/jquery-3.1.1.min.js" th:src="@{/js/jquery-3.1.1.min.js}"></script>
    <script src="../../js/tether.min.js" th:src="@{/js/tether.min.js}"></script>
    <!--<script src="../../js/bootstrap.min.js" th:src="@{/js/bootstrap.min.js}"></script>-->
    <script src="../../js/nprogress.js" th:src="@{/js/nprogress.js}"></script>
    <script src="../../js/thinker-md.vendor.min.js" th:src="@{/js/thinker-md.vendor.min.js}"></script>
    <script src="../../js/jquery.tag-editor.min.js" th:src="@{/js/jquery.tag-editor.min.js}"></script>
    <script src="../../js/chosen.jquery.js" th:src="@{/js/chosen.jquery.js}"></script>
    <script src="../../js/thymeleaf-bootstrap-paginator.js" th:src="@{/js/thymeleaf-bootstrap-paginator.js}"></script>
    <script src="../../js/catalog-generator.js" th:src="@{/js/catalog-generator.js}"></script>
    <script src="../../js/main.js" th:src="@{/js/main.js}"></script>
</body>
</html>